@{
	ViewData["Title"] = "Country List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data
@model DataTable
<div class="container mt-5">
	<table class="table">
		<thead class="thead-dark bg-dark text-light">
			<tr>
				<th scope="col">Country Name</th>
				<th scope="col">Country Code</th>
				<th scope="col" class="text-center">Created</th>
				<th scope="col" colspan="2" class="text-center">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (DataRow dataRow in Model.Rows)
			{
				<tr>
					<td>@dataRow["CountryName"]</td>
					<td>@dataRow["CountryCode"]</td>
					<td align="center">@Convert.ToDateTime(dataRow["Created"]).ToString("dd-MM-yyyy")</td>
					<td align="right">
						<form method="post" asp-controller="LOC_Country" asp-action="LOC_CountryDelete">
							<input type="hidden" value="@Convert.ToInt32(dataRow["CountryID"])" name="CountryID">
							<button type="submit" class="btn btn-danger" value="Delete">Delete</button>
						</form>
					</td>
					<td align="left">
						<form method="post" asp-controller="LOC_Country" asp-action="LOC_CountryAddEdit">
							<input type="hidden" value="@Convert.ToInt32(dataRow["CountryID"])" name="CountryID">
							<button type="submit" class="btn btn-success" value="Edit">&nbsp;&nbsp;Edit&nbsp;&nbsp;</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a class="btn btn-primary" asp-action="LOC_CountryAddEdit" asp-controller="LOC_Country">Add</a>
</div>