﻿@{
	ViewData["Title"] = "City Add Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AdminPanel.Areas.LOC_City.Models.LOC_CityModel

<div class="container m-3">
	<div class="pagetitle">
		<h1>City</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i></a></li>
				<li class="breadcrumb-item"><span>City Add</span></li>
			</ol>
		</nav>
	</div><!-- End Page Title -->
	<form method="post" asp-controller="LOC_City" asp-action="LOC_CitySave">
		@Html.HiddenFor(x=>x.CityID)
		<div class="form-group row">
			<div class="col-3">
				<h3>Enter values</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-3 m-2">
				<label>City Name</label>
				@Html.TextBoxFor(x => x.CityName, new { @class = "form-control", @style = "border:1px solid" })
				<span asp-validation-for="CityName" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-3 m-2">
				<label>City Code</label>
				@Html.TextBoxFor(x => x.CityCode, new { @class = "form-control", @style = "border:1px solid" })
				<span asp-validation-for="CityCode" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-3 m-2">
				<label>Country Name</label>
				@Html.DropDownListFor(x => x.CountryID, new SelectList(ViewBag.CountryList, "CountryID", "CountryName"), "Select Country", new { @class = "form-control", @style = "border:1px solid", @onchange = "stateChange()", id = "CountryID" })
				<span asp-validation-for="CountryID" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-3 m-2">
				<label>State Name</label>
				@Html.DropDownListFor(x => x.StateID, new SelectList(ViewBag.StateList, "StateID", "StateName"), "Select State", new { @class = "form-control", @style = "border:1px solid" })
				<span asp-validation-for="StateID" class="text-danger"></span>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-3">
				@Html.TextBoxFor(x => x.CityID, new { @class = "form-control", @style = "border:1px solid", @hidden = "hidden" })
				<button type="submit" class="btn btn-success">Save</button>
				<a class="btn btn-secondary" asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityList">Back</a>
			</div>
		</div>
	</form>
</div>
@section Scripts {
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		function stateChange() {
			var CountryID = $("#CountryID").val();
			if (CountryID !== "") {
				$("#StateID").empty();
				$("#StateID").append($("<option></option>").val("").html("SelectState"));
				$.ajax(
					{
						type: "POST",
						contentType: "application/json; charset=utf-8",
						url: "@Url.Action("DropDownByCountry", "LOC_City")" + "?&CountryID=" + CountryID,
						data: {},
						dataType: "json",
						success: function (Result) {
							$.each(Result,
								function (key, value) {
									$("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
								});
						},
						error: function (err) {
							console.log(err);
							alert("Error while loading combobox.");
						}
					});
			} else {
				$("#StateID").empty();
				$("#StateID").append($("<option></option>").val("").html("SelectState"));
			}
		}
	</script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}