﻿@{
	ViewData["Title"] = "City Add Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AdminPanel.Areas.LOC_City.Models.LOC_CityModel

<div class="container m-3">
	<div class="pagetitle">
		<h1>City</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i></a></li>
				<li class="breadcrumb-item"><span>City Add</span></li>
			</ol>
		</nav>
	</div><!-- End Page Title -->
	<form method="post" asp-controller="LOC_City" asp-action="LOC_CitySave">
		@Html.HiddenFor(x=>x.CityID)
		<div class="form-group row">
			<div class="col-3">
				<h3>Enter values</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-3 m-2">
				<label>City Name</label>
				<input class="form-control" style="border:1px solid" type="text" value="@Model.CityName" asp-for="CityName" />
				<span asp-validation-for="CityName" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-3 m-2">
				<label>City Code</label>
				<input class="form-control" style="border:1px solid" type="text" value="@Model.CityCode" asp-for="CityCode" />
				<span asp-validation-for="CityCode" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="form-group dropdown col-3 m-2">
				<label>Country Name</label>
				<select class="form-control" style="border:1px solid" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" onchange="stateChange();">
					<option value="">Select Country</option>
				</select>
				<span asp-validation-for="CountryID" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="form-group dropdown col-3 m-2">
				<label>State Name</label>
				<select class="form-control" style="border:1px solid" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">
					<option value="">Select State</option>
				</select>
				<span asp-validation-for="StateID" class="text-danger"></span>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-3">
				<input type="hidden" name="CityID" value="@Model.CityID" />
				<button type="submit" class="btn btn-success">Save</button>
				<a class="btn btn-secondary" asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityList">Back</a>
			</div>
		</div>
	</form>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		function stateChange() {
			var CountryID = $("#CountryID").val();

			if (CountryID !== "") {
				$("#StateID").empty();
				$("#StateID").append($("<option></option>").val("").html("Select State"));
				$.ajax(
					{
						type: "POST",
						contentType: "application/json; charset=utf-8",
						url: "@Url.Action("DropDownByCountry", "LOC_City")" + "?&CountryID=" + CountryID,
						data: {},
						dataType: "json",
						success: function (Result) {
							$.each(Result,
								function (key, value) {
									$("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
								});
						},
						error: function (r) {
							alert("Error while loading combobox.");
						}
					});
			}
			else {
				$("#StateID").empty();
				$("#StateID").append($("<option></option>").val("").html("Select State"));
			}
		}
	</script>
}